.alice-carousel__dots {
  margin: 0;

  .__active {

  }
}

.alice-carousel__dots-item:not(.__custom).__active {
  width: 25px;
  background-color: #7572D5;
}

.alice-carousel__dots-item:not(.__custom):hover {
  background-color: #8f89fc;
}

.alice-carousel__dots-item:not(.__custom):not(:last-child) {
  margin-right: 0;
}

.alice-carousel__dots-item:not(.__custom) {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, .5);

  & + li {
    margin-left: 5px;
  }
}

.alice-carousel {
  cursor: pointer;
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  padding: 0;
  width: fit-content;
  height: 66px;
  position: absolute;
}

.alice-carousel__prev-btn
{
  bottom: calc(50% - 27px);
  left: -36px;
}

.alice-carousel__next-btn
{
  bottom: calc(50% - 27px);
  right: -36px;
}

.next-btn-span,
.prev-btn-span {
  height: inherit;
  display: inline-block;
}

.next-btn-span svg,
.prev-btn-span svg {
  filter: drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 3px #fff)
  drop-shadow(0px 0px 10px #fff);
}
